body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #edf8fe;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    color: #ffb7c6;
    margin-top: 30px;
    font-style: italic;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #ffb7c6;
    margin: 50px;
    font-size: 2rem;
    font-style: italic;
    margin-top: 20px;
}

p {
    font-size: 18px;
    max-width: 700px;
    margin: 20px auto;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.5px;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.nav-links a {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ffb6c1;
    padding: 12px 24px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 2px 4px 6px rgba(255, 182, 193, 0.3);
    transition: all 0.3s ease-in-out;
    border: 2px solid #ff86a1;
}

.nav-links a:hover {
    background-color: #ff86a1;
    transform: scale(1.05);
    box-shadow: 3px 6px 8px rgba(255, 182, 193, 0.5);
}


.fa-house {
    float: left;
    width: fit-content;
    margin: 20px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ffb6c1;
    border: 2px solid #ff86a1;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 2px 4px 6px rgba(255, 182, 193, 0.3);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.fa-house:hover {
    background-color: #ff86a1;
    transform: scale(1.05);
    box-shadow: 3px 6px 8px rgba(255, 182, 193, 0.5);
}

.go-top {
    display: block;
    width: fit-content;
    margin: 20px auto; 
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ffb6c1;
    border: 2px solid #ff86a1;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 2px 4px 6px rgba(255, 182, 193, 0.3);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.go-top:hover {
    background-color: #ff86a1;
    transform: scale(1.05);
    box-shadow: 3px 6px 8px rgba(255, 182, 193, 0.5);
}


.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px; 
    margin-top: 50px;
    padding: 20px;
}

.gallery {
    text-align: center;
    width: 220px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.05);
}

.description {
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
    color: #555;
}
