body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #edf8fe;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffb7c6;
    margin-top: 50px;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-style: italic;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.gallery {
    border: 2px solid hsl(191, 96%, 20%);
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.gallery .description {
    padding: 8px;
    font-family: Tahoma;
    font-size: 14px;
    color: navy;
}

.gallery img {
    width: 100%;
    height: auto;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 6px;
}

.gallery:hover {
    transform: scale(1.02);
}

.gallery img:hover {
    border: 2px solid hsl(191, 97%, 47%);
    opacity: 1;
}

@media (max-width: 1024px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.fa-house {
    float: left;
    width: fit-content;
    margin: 10px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ffb6c1;
    border: 2px solid #ff86a1;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 2px 4px 6px rgba(255, 182, 193, 0.3);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.fa-house:hover {
    background-color: #ff86a1;
    transform: scale(1.05);
    box-shadow: 3px 6px 8px rgba(255, 182, 193, 0.5);
}

.go-top {
    display: inline-block;
    width: fit-content;
    margin: 10px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ffb6c1;
    border: 2px solid #ff86a1;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 2px 4px 6px rgba(255, 182, 193, 0.3);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.go-top:hover {
    background-color: #ff86a1;
    transform: scale(1.05);
    box-shadow: 3px 6px 8px rgba(255, 182, 193, 0.5);
}