body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #DFEFFF;
    color: #061322;
    margin: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
}

.video-container {
    width: 70%;
    max-height: 440px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.video-container video {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
    gap: 20px;
}

h1 {
    color: #061322;
    font-size: 2.8rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.5px;
    max-width: 90%;
}

.links {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: #061322;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;
    box-sizing: border-box;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s;
    background-color: transparent;
}

.links a:hover {
    background-color: #033159;
    transform: translateX(5px);
    box-shadow: 2px 4px 6px rgba(6, 19, 34, 0.4);
}

.links a i {
    margin-right: 8px;
}


.image-container {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px;
    background-color: #061322;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: -2px 4px 6px rgba(6, 19, 34, 0.3);
    max-width: 120px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.05);
}


@media screen and (max-width: 900px) {
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .container, .image-container {
        max-width: 100%;
    }

    .links {
        grid-template-columns: repeat(2, 1fr);
    }
}
